/* = reset ================================================================= */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* apply a natural box layout model to all elements, but allowing views to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

button:focus {
	outline:0;
}

/* = giggin ================================================================ */

:root {
  --primary: #021d49;
  --primary-alpha: rgba(2, 29, 73, 0.5);
  --secondary: #00ffb0;
	--secondary-alpha: rgba(0, 255,126, 0.5);
  --gray: #f6f6f6;
  --gray-alpha: rgba(246, 246, 246, 0.9);
  --black-color: #222223;
	--red-color: #ff4d4f
}

::selection {
  background: var(--secondary);
}

::-moz-selection {
  background: var(--secondary);
}

body, button {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
	background: var(--gray);
  color: var(--primary)
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: .4rem;
  padding-right: .4rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1000px;
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    grid-template-rows: auto 1fr auto;
  }
}

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

a:active,
a:hover {
  outline-width: 0;
}

a {
  color: var(--primary);
  outline: none;
  text-decoration: none;
}

a:focus,
a:hover,
a:active,
a.active {
  color: var(--secondary);
  text-decoration: underline;
}

header {
  grid-column: span 2;
  padding: 1vw;
  text-align: center;
}

header .btn {
  height: 4rem;
}

.logo {
  width: 25vw;
  min-width: 160px;
  max-width: 380px;
}

aside {
  flex: 2;
  padding: .4rem;
}

main {
  padding: .4rem;
}

footer {
  grid-column: span 2;
  padding: 30px;
  padding-left: 0px;
  text-align: left;
  font-size: 0.8em;
  vertical-align: middle;
}

footer img {
  max-width: 40px;
}

h1 {
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: bold;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid var(--gray);
  margin-bottom: 20px;
}

.payment {
	max-width: 400px;
  margin: 0 auto;
}

.payment-logo {
	padding-top: 6vh;
  width: 100%;
}

.float--right {
  float: right !important;
  padding: .8rem;
}
.float--left {
  float: left !important;
  padding: .8rem;
}

.gigs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
  grid-gap: 20px;
}

.gig {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 10px;
  border: .01rem solid #fff;
  background: #fff;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  flex-direction: column;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.gig .gig__body p {
  padding: .8rem;
  font-size: 1rem;
  line-height: 1.4;
}

.gig .gig__footer {
  padding: .8rem;
}

.gig .gig-header:last-child,
.gig .gig-body:last-child,
.gig .gig-footer:last-child {
  padding-bottom: .8rem;
}

.gig .gig-image {
  padding-top: .8rem;
}

.gig .gig-image:first-child {
  padding-top: 0;
}

.gig__artwork:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.gig {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.gig .gig__body .gig__title {
  padding: .8rem;
  padding-bottom: 0;
  font-size: 1rem;
  line-height: 1.4;
  font-size: 1.2rem;
	color: var(--secondary);
}

.gig .gig__body .gig__price {
  padding-top: .1rem;
  width: 100%;
  color: var(--primary-alpha);
}

.gig .gig__body .gig__desc {
  font-size: .8rem;
  padding-bottom: .8rem;
}

.gig__artwork {
  width: 100%;
}

.gig__edit {
  width: 100%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.gig__edit:hover {
  cursor:pointer;
  opacity: 0.4
}

.sold-out {
	border: .05rem solid var(--red-color);
  border-color: var(--red-color);
	background: #fff;
  color: var(--red-color);
  border-radius: 6px;
	font-size: .9rem;
	height: 2rem;
	padding: .45rem .6rem;
	line-height: 1rem;
  outline: none;
  text-align: center;
}

/* = Button = */

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff;
  border: .05rem solid var(--secondary);
  border-radius: 6px;
  color: var(--secondary);
  cursor: pointer;
  display: inline-block;
  line-height: 1rem;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all .2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  font-size: .9rem;
  height: 2rem;
  padding: .45rem .6rem;
}

.btn:focus,
.btn:hover {
  background: var(--gray);
  border-color: var(--primary);
  text-decoration: none;
}

.btn[disabled],
.btn:disabled,
.btn.disabled {
  cursor: default;
  opacity: .5;
  pointer-events: none;
}

.btn.btn--primary {
  background: var(--primary);
  border-color: var(--primary);
  color: #fff;
}

.btn.btn--primary:focus,
.btn.btn--primary:hover {
  background: var(--secondary);
  border-color: var(--secondary);
  color: var(--primary);
}

.btn.btn--primary:active,
.btn.btn--primary.active {
  background: var(--primary);
  border-color: var(--primary);
  color: var(--secondary);
}

.btn.btn--secondary {
  background: var(--secondary);
  border-color: var(--secondary);
  color: var(--primary);
}

.btn.btn--secondary:focus,
.btn.btn--secondary:hover {
  background: var(--primary);
  border-color: var(--primary);
  color: var(--gray);
}

.btn.btn--secondary:active,
.btn.btn--secondary.active {
  background: var(--primary);
  border-color: var(--primary);
  color: var(--secondary);
}

.btn.btn--link {
  background: transparent;
  border-color: transparent;
  color: var(--primary);
}

.btn.btn--link:focus,
.btn.btn--link:hover,
.btn.btn--link:active,
.btn.btn--link.active {
  color: var(--secondary);
}

.btn.btn--clear {
  background: transparent;
  border: 0;
  color: currentColor;
  height: .8rem;
  line-height: .8rem;
  margin-left: .2rem;
  margin-right: -2px;
  opacity: 1;
  padding: 0;
  text-decoration: none;
  width: .8rem;
}

.btn.btn--clear:hover {
  color: #00ffb9;
  opacity: .95;
}

.btn.btn--clear::before {
  content: "\2715";
}

.btn .icon {
  vertical-align: -10%;
}

/* = Icon = */

.icon {
  box-sizing: border-box;
  display: inline-block;
  font-size: inherit;
  font-style: normal;
  height: 1em;
  position: relative;
  text-indent: -9999px;
  vertical-align: middle;
  width: 1em;
}

.icon::before,
.icon::after {
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icon--forward::before {
  border: 1px solid currentColor;
  border-bottom: 0;
  border-right: 0;
  content: "";
  height: .62em;
  width: .62em;
}

.icon--forward::after {
  background: currentColor;
  content: "";
  height: 13px;
  width: 1px;
}

.icon--forward::after {
  left: 46%;
}

.icon--forward::before {
  transform: translate(-50%, -50%) rotate(135deg);
}

.icon--plus::before,
.icon--cross::before {
  background: currentColor;
  content: "";
  height: 1px;
  width: 100%;
}

.icon--plus::after,
.icon--cross::after {
  background: currentColor;
  content: "";
  height: 100%;
  width: 1px;
}

.icon--cross::before {
  width: 100%;
}

.icon--cross::after {
  height: 100%;
}

.icon--cross::before,
.icon--cross::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.icon--delete::before {
  border: 1px solid currentColor;
  border-bottom-left-radius: .1rem;
  border-bottom-right-radius: .1rem;
  border-top: 0;
  content: "";
  height: .65em;
  top: 60%;
  width: .75em;
}

.icon--delete::after {
  background: currentColor;
  box-shadow: -.25em .2em, .25em .2em;
  content: "";
  height: 1px;
  top: .05rem;
  width: .55em;
}

/* = Tooltip = */

.tooltip {
  position: relative;
}

.tooltip::after {
  background: rgba(69, 77, 93, .9);
  border-radius: 6px;
  color: #fff;
  content: attr(data-tooltip);
  display: block;
  font-size: .8rem;
  max-width: 320px;
  opacity: 0;
  overflow: hidden;
  padding: .3rem .5rem;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  transform: translate(-50%, .4rem);
  transition: all .2s ease;
  white-space: pre;
  z-index: 300;
	bottom: 50%;
  left: auto;
  right: 100%;
  transform: translate(.4rem, 50%);
}

.tooltip:focus::after,
.tooltip:hover::after {
  opacity: 1;
  transform: translate(-.2rem, 50%);
}

.tooltip[disabled],
.tooltip.disabled {
  pointer-events: auto;
}

/* = Orders =*/

.order {
  border: .05rem solid var(--gray);
  border-radius: 6px;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  flex-direction: column;
	background: #fff;
}

.order .total {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: .8rem;
  font-size: 1.1rem;
}

.order .order-nav {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.order .body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: .6rem .8rem;
  padding-bottom: 0;
}

/* = admin-panel = */
.admin-panel {
  border: .05rem solid var(--gray);
  border-radius: 6px;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  flex-direction: column;
	-ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: .8rem;
  font-size: 1.1rem;
	margin-bottom: 1rem;
	background: #fff;
}


/* = item = */

.item {
  align-content: space-between;
  align-items: center;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -ms-flex-line-pack: justify;
  /* visibility: hidden; */
}

.item .action {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.item .action .price {
	-webkit-appearance: none;
  -moz-appearance: none;
  background: #fff;
  display: inline-block;
  line-height: 1rem;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all .2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  font-size: .9rem;
  height: 2rem;
  padding: .45rem .6rem;
	background: transparent;
  border-color: transparent;
  color: var(--primary);
	cursor: default;
	opacity: .5;
	pointer-events: none;
}

.item img {
  margin: .4rem .4rem .4rem .2rem;
  border-radius: 4px;
  max-width: 30px;
}

.item .content {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.item .title {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-margin-before: 0px;
  line-height: 1rem;
  font-size: .9rem;
}

.item .sold-out {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-margin-before: 0px;
  line-height: 1rem;
  font-size: .9rem;
	color: var(--red-color);
}

.item.item-centered .title,
.item.item-centered .item-subtitle {
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* = empty =*/

.empty {
  background-color: #fff;
  border: .05rem solid #fff;
  color: var(--primary-alpha);
  border-radius: 6px;
  padding: 3.2rem 1.6rem;
  text-align: center;
}

.empty .title,
.empty .subtitle {
  margin: .8rem auto;
}

.empty .subtitle {
  font-size: .9rem;
}

/* = add-event =*/
.add-gig {
  border: .05rem solid #fff;
  background-color: #fff;
  color: var(--secondary);
  border-radius: 6px;
  padding: 3.2rem 1.6rem;
  text-align: center;
  opacity: 0.4;
}

.add-gig:hover {
  cursor: pointer;
  border-radius: 6px;
  padding: 3.2rem 1.6rem;
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.add-gig .add__title {
  margin: .8rem auto;
}

/* = modal = */

.checkout-modal {
	margin-top: 20px;
}

.checkout {
  min-height: 75%;
  max-width: 400px;
  margin: 0 auto;
}

.modal {
  align-items: center;
  bottom: 0;
  display: none;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: .4rem;
  position: fixed;
  right: 0;
  top: 0;
}

.modal:target,
.modal.active {
  display: flex;
  display: -ms-flexbox;
  opacity: 1;
  z-index: 400;
}

.modal:target .modal__overlay,
.modal.active .modal__overlay {
  background: var(--gray);
  bottom: 0;
  cursor: default;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.modal:target .modal__container,
.modal.active .modal__container {
	box-shadow: none;
  max-width: 960px;
  width: 100%;
  z-index: 1;
}

.modal__container {
  background: var(--gray);
  border-radius: 1rem;
  box-shadow: 0 .2rem .5rem rgba(69, 77, 93, .3);
  display: block;
  padding: 0 .8rem;
  text-align: left;
}

.modal__container .modal__header .modal__title {
  color: var(--primary);
  background: #fff;
}

@media (min-width: 768px) {
  .modal__container .modal__body {
    min-height: 450px;
  }
  .modal__container .modal__body .checkout {
    padding-top: 4rem;
  }
}

.modal__container .modal__body {
  max-height: 66vh;
  overflow-y: auto;
  padding: .4rem;
  position: relative;

}

.modal__container .modal__footer {
  padding-bottom: 1.2rem;
  text-align: right;
}

@media (max-width: 768px) {
  .modal__container .modal__header {
    position: fixed;
    top: 1.4rem;
    right: 1.8rem;
    left: 1.8rem;
    background-color: #fff;
  }

  .modal__container .modal__footer {
    position: fixed;
    bottom: .4rem;
    right: 1.8rem;
    left: 1.8rem;
  }
}


.step {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  list-style: none;
  margin: .2rem 0;
  width: 100%;
}

.step .step__item {
  -ms-flex: 1 1 0;
  flex: 1 1 0;
  margin-top: 0;
  min-height: 1rem;
  position: relative;
  text-align: center;
}

.step .step__item:not(:first-child)::before {
  background: var(--secondary);
  content: "";
  height: 1px;
  left: -50%;
  position: absolute;
  top: 7px;
  width: 100%;
}

.step .step__item a {
  color: var(--primary-alpha);
  display: inline-block;
  padding: 20px 10px 0;
  text-decoration: none;
  background: #fff;
}

.step .step__item a::before {
  background: var(--secondary);
  border: .1rem solid #fff;
  border-radius: 50%;
  content: "";
  display: block;
  height: 10px;
  left: 50%;
  position: absolute;
  top: 3px;
  transform: translateX(-50%);
  width: 10px;
  z-index: 1;
}

.step .step__item.active a::before {
  background: #fff;
  border: .1rem solid var(--secondary);
}

.step .step__item.active ~ .step__item::before {
  background: var(--gray);
}

.step .step__item.active ~ .step__item a::before {
  background: var(--gray);
}

/* =form= */

.form__group:not(:last-child) {
  margin-bottom: .4rem;
}

.form__label {
	color: var(--primary);
  display: block;
  line-height: 1rem;
  padding: .4rem 0;
	margin-top: .6rem;
  font-size: .8rem;
}

.form__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  background-image: none;
  border: .05rem solid #d3d3d3;
  border-radius: 6px;
  color: var(--primary);
  display: block;
  font-size: .8rem;
  height: 1.8rem;
  line-height: 1rem;
  max-width: 100%;
  outline: none;
  padding: .35rem .4rem;
  position: relative;
  transition: all .2s ease;
  width: 100%;
}

.form__input:focus {
  border-color: var(--secondary);
  box-shadow: 0 0 0 .2rem rgba(00, 255, 176, .5);
}

.form__input::-webkit-input-placeholder {
  color: #d3d3d3;
}

.form__input:-ms-input-placeholder {
  color: #d3d3d3;
}

.form__input::placeholder {
  color: #d3d3d3;
}

textarea.form__input {
  height: auto;
}

.form__switch {
  display: inline-block;
  line-height: 1rem;
  margin: .2rem 0;
  min-height: 1.2rem;
  padding: .2rem .4rem .2rem 1.2rem;
  position: relative;
}

.form__switch input {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.form__switch input:focus + .form__icon {
  border-color: var(--secondary);
}

.form__switch input:checked + .form__icon {
  background: var(--secondary);
  border-color: var(--secondary-alpha);
}

.form__switch .form__icon {
  border: .05rem solid var(--secondary);
  cursor: pointer;
  display: inline-block;
  position: absolute;
  transition: all .2s ease;
	font-size: .8rem;
}

.form__switch.input-lg {
  font-size: .9rem;
  margin: .3rem 0;
}

.form__switch {
  padding-left: 2rem;
}

.form__switch .form__icon {
  background: var(--gray);
  background-clip: padding-box;
  border-radius: 50px;
  height: 22px;
  left: 0;
  top: 4px;
  width: 42px;
}

.form__switch .form__icon::before {
  background: #fff;
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  left: 1px;
  position: absolute;
  top: 0px;
  transition: all .2s ease;
  width: 20px;
}

.form__switch input:checked + .form__icon::before {
  left: 20px;
}

.form__switch input:active + .form__icon::before {
  background: #f8f9fa;
}


/* = avatar = */

figure {
  display: block;
}

.avatar {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  height: 2rem;
  width: 2rem;
}

.avatar img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  z-index: 1;
}
